<div class="fp-content-header">@{Header}</div>
@{Downloads_Para1,<b><a href="/source">,<a href="/faq">,<a href="/discord">}
<div class="fp-content-large-spacer"></div>
<div class="fp-downloads-tab-container">
	<div class="fp-downloads-tab-selectors">
		<div class="fp-downloads-tab-selector" data-platform="Windows">
			<img class="fp-downloads-tab-selector-icon" src="/images/windows.svg">
			<div class="fp-downloads-tab-selector-text">Windows</div>
		</div>
		<div class="fp-downloads-tab-selector" data-platform="MacOS">
			<img class="fp-downloads-tab-selector-icon" src="/images/macos.svg">
			<div class="fp-downloads-tab-selector-text">macOS</div>
		</div>
		<div class="fp-downloads-tab-selector" data-platform="Linux">
			<img class="fp-downloads-tab-selector-icon" src="/images/linux.svg">
			<div class="fp-downloads-tab-selector-text">Linux</div>
		</div>
	</div>
	<div class="fp-downloads-tabs">
		<div class="fp-downloads-tab" data-platform="Windows">
			<div class="fp-downloads-warning">@{Windows_Avast_Warning,<b>,<a href="/datahub/Troubleshooting_Antivirus_Interference">}</div>
			<div class="fp-downloads-tab-content">
				<div class="fp-downloads-tab-section">
					<div class="fp-downloads-tab-section-header">Flashpoint Infinity 14.0.3</div>
					<div class="fp-downloads-tab-section-subheader">@{Released,"2025-11-21"} - @{Windows_Infinity_Tagline}</div>
					<div class="fp-content-spacer"></div>
					<div>@{Windows_Infinity_Para1}</div>
					<div class="fp-content-spacer"></div>
					<div>@{Windows_Infinity_Para2}</div>
					<div class="fp-content-spacer"></div>
					<div class="fp-downloads-tab-sizes">
						<div><b>@{Download_Size}:</b> 1.9MB</div>
						<div><b>@{Install_Size}:</b> ~1-4GB</div>
					</div>
					<div class="fp-downloads-tab-button-container">
						<a class="fp-downloads-tab-button" href="https://github.com/FlashpointProject/FlashpointComponentTools/releases/latest/download/FlashpointInstaller.exe">
							<img class="fp-downloads-tab-button-icon" src="/images/download.svg">
							<div class="fp-downloads-tab-button-text">@{Windows_Infinity_Main_Download}</div>
						</a>
						<div class="fp-downloads-tab-button-hash" title="@{Verify_Integrity}" data-modal="windowsInfinityHash">@{Verify}</div>
					</div>
					<div class="fp-downloads-tab-alt-link-container">
						<a href="https://download.unstable.life/archive/infinity/Flashpoint%20Infinity%2014.0.3.7z">@{Windows_Infinity_Alt_Download}</a>
						<div class="fp-downloads-tab-button-hash" title="@{Verify_Integrity}" data-modal="windowsInfinityHash2">@{Verify}</div>
					</div>
				</div>
				<div class="fp-downloads-tab-divider"></div>
				<div class="fp-downloads-tab-section">
					<div class="fp-downloads-tab-section-header">Flashpoint Ultimate 14</div>
					<div class="fp-downloads-tab-section-subheader">@{Released,"2025-02-15"} - @{Windows_Ultimate_Tagline}</div>
					<div class="fp-content-spacer"></div>
					<div>@{Windows_Ultimate_Para1}</div>
					<div class="fp-content-spacer"></div>
					<div>@{Windows_Ultimate_Para2,<a href="/datahub/Ultimate_Support">}</div>
					<div class="fp-content-spacer"></div>
					<div class="fp-downloads-tab-sizes">
						<div><b>@{Download_Size}:</b> 2.28TB</div>
						<div><b>@{Install_Size}:</b> 2.28TB</div>
					</div>
					<div class="fp-downloads-tab-button-container">
						<a class="fp-downloads-tab-button" href="https://download.unstable.life/FlashpointUltimate14.torrent">
							<img class="fp-downloads-tab-button-icon" src="/images/download.svg">
							<div class="fp-downloads-tab-button-text">@{Windows_Ultimate_Main_Download}</div>
						</a>
						<!--div class="fp-downloads-tab-button-hash" title="@{Verify_Integrity}" data-modal="windowsUltimateHash">@{Verify}</div-->
					</div>
					<div class="fp-downloads-tab-alt-link-container">
						<a href="https://download.unstable.life/ultimate-direct/14_packed/">@{Windows_Ultimate_Alt_Download}</a>
						<!--div class="fp-downloads-tab-button-hash" title="@{Verify_Integrity}" data-modal="windowsUltimateHash">@{Verify}</div-->
					</div>
				</div>
			</div>
			<div class="fp-downloads-tab-divider"></div>
			<div class="fp-downloads-tab-requirements">
				<div><b>@{System_Requirements}:</b> @{Windows_System_Requirements,"Windows 8.1"}</div>
				<div><b>@{Prerequisites}:</b> @{Windows_Prerequisites,<a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">,"Visual C++ 2015 Redistributable (x86)",<a href="https://dotnet.microsoft.com/download/dotnet-framework/net47">,"Microsoft .NET Framework 4.7"}</div>
			</div>
		</div>
		<div class="fp-downloads-tab" data-platform="MacOS">
			<div class="fp-downloads-tab-content">
				<div class="fp-downloads-tab-section">
					<div class="fp-downloads-tab-section-header">Flashpoint Infinity 14.0.3 for Mac (2025-12-07)</div>
					<div class="fp-content-spacer"></div>
					<div>@{MacOS_Infinity_Para1,<a href="/datahub/Mac_Support">}</div>
					<div class="fp-content-spacer"></div>
					<div>@{MacOS_Infinity_Para2}</div>
					<div class="fp-content-spacer"></div>
					<div class="fp-downloads-tab-sizes">
						<div><b>@{Download_Size}:</b> 780MB</div>
						<div><b>@{Install_Size}:</b> 2.7GB</div>
					</div>
					<div class="fp-downloads-tab-button-container">
						<a class="fp-downloads-tab-button" href="/datahub/Mac_Support#Installing_Flashpoint">
							<div class="fp-downloads-tab-button-text">@{MacOS_Infinity_Main_Download}</div>
						</a>
					</div>
				</div>
			</div>
			<div class="fp-downloads-tab-divider"></div>
			<div class="fp-downloads-tab-requirements">
				<div><b>@{System_Requirements}:</b> @{MacOS_System_Requirements,"macOS Sierra"}</div>
				<div><b>@{Prerequisites}:</b> @{MacOS_Prerequisites}</div>
			</div>
		</div>
		<div class="fp-downloads-tab" data-platform="Linux">
			<div class="fp-downloads-tab-content">
				<div class="fp-downloads-tab-section">
					<div class="fp-downloads-tab-section-header">Flashpoint Infinity 14.0.3 for Linux (2025-12-01)</div>
					<div class="fp-content-spacer"></div>
					<div>@{Linux_Infinity_Para1,<a href="/datahub/Linux_Support">}</div>
					<div class="fp-content-spacer"></div>
					<div>@{Linux_Infinity_Para2,<a href="/datahub/Linux_Support#Dependencies">}</div>
					<div class="fp-content-spacer"></div>
					<div class="fp-downloads-tab-sizes">
						<div><b>@{Download_Size}:</b> 514MB</div>
						<div><b>@{Install_Size}:</b> 2.6GB</div>
					</div>
					<div class="fp-downloads-tab-button-container">
						<a class="fp-downloads-tab-button" href="https://download.unstable.life/upload/fp14.0.3_lin_20251201.7z">
							<img class="fp-downloads-tab-button-icon" src="/images/download.svg">
							<div class="fp-downloads-tab-button-text">@{Linux_Infinity_Main_Download}</div>
						</a>
						<div class="fp-downloads-tab-button-hash" title="@{Verify_Integrity}" data-modal="linuxInfinityHash">@{Verify}</div>
					</div>
				</div>
			</div>
			<div class="fp-downloads-tab-divider"></div>
			<div class="fp-downloads-tab-requirements">
				<div><b>@{System_Requirements}:</b> @{Linux_System_Requirements}</div>
				<div><b>@{Prerequisites}:</b> @{Linux_Prerequisites}</div>
			</div>
		</div>
	</div>
</div>
<div class="fp-content-large-spacer"></div>
@{Downloads_Para2,<a href="/faq#ultimateconvert">}
<div class="fp-content-subheader">@{Other_Downloads}</div>
<div><b>CLIFp v0.9.16 for Flashpoint 14</b></div>
<div class="fp-downloads-other-subheader">@{Released,"2026-02-25"}</div>
<div class="fp-content-small-spacer"></div>
<div>@{CLIFp_Para1,<a href="https://github.com/oblivioncth/CLIFp/blob/master/README.md">}</div>
<ul class="fp-downloads-other-downloads">
	<li><a href="https://github.com/oblivioncth/CLIFp/releases/download/v0.9.16/CLIFp_v0.9.16_Windows_Static_x64.zip">@{Download_Windows}</a> <span class="fp-downloads-other-sizes">(@{Download_Install_Size,"23.4MB","80.1MB"})</span></li>
	<li><a href="https://github.com/oblivioncth/CLIFp/releases/download/v0.9.16/CLIFp_v0.9.16_Linux_Static_x64.22.04.clang++-15.zip">@{Download_Linux}</a> <span class="fp-downloads-other-sizes">(@{Download_Install_Size,"21.5MB","66MB"})</span></li>
</ul>
<div>@{CLIFp_Para2,<a href="https://github.com/oblivioncth/CLIFp/releases/tag/v0.9.16">}</div>
<div class="fp-content-spacer"></div>
<div><b>Newgrounds Auditorium 3.0 (Beta)</b></div>
<div class="fp-downloads-other-subheader">@{Released,"2025-06-15"}</div>
<div class="fp-content-small-spacer"></div>
<div>@{Newgrounds_Auditorium_Para1}</div>
<ul class="fp-downloads-other-downloads">
	<li><a href="https://download.flashpointarchive.org/NGA_wip.7z">@{Download_Windows} (Infinity)</a> <span class="fp-downloads-other-sizes">(@{Download_Install_Size,"224MB","1.1GB"})</span></li>
	<li><span class="fp-downloads-other-coming-soon">@{Download_Windows} (Ultimate) (@{Coming_Soon})</span></li>
</ul>
<div class="fp-modal-container">
	<div class="fp-modal">
		<div class="fp-modal-close-button"></div>
		<div class="fp-modal-content fp-hidden" id="windowsInfinityHash">
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"FlashpointInstaller.exe"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">735ded41b0a072c4f58be3ff8b1b23e5</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">00603684147b60c86002c94d9e73575717b5edae</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">a77feb80b295e64abf8abec5339d1d838cbea732e1d410fdf246f69ab55c81c2</td>
				</tr>
			</table>
		</div>
		<div class="fp-modal-content fp-hidden" id="windowsInfinityHash2">
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Flashpoint Infinity 14.0.3.7z"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">79b34c73d8ead1edc4fcf158cfbcb1fb</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">dcb0596841dcedd382da2f7eb101bf1f1a509fb8</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">17f6ab93a7ca1f0adc468649f3d376aa3deb30caa808837a7735e8a6dc0e7502</td>
				</tr>
			</table>
		</div>
		<div class="fp-modal-content fp-hidden" id="windowsUltimateHash">
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Base_1.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Extras_1.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_1.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_2.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_3.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_4.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_5.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_6.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_7.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_8.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_9.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_10.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_11.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_12.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_13.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_14.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_15.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_16.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_17.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_18.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_19.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_20.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_21.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_22.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_23.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_24.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"GameData_25.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_1.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_2.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_3.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_4.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_5.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Htdocs_6.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Images_1.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"Images_2.zip"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"_README.md"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
				</tr>
			</table>
		</div>
		<div class="fp-modal-content fp-hidden" id="linuxInfinityHash">
			<div class="fp-downloads-hash-file">@{Hashes_For,<b>,"fp14.0.3_lin_20251201.7z"}</div>
			<table class="fp-downloads-hash-table">
				<tr>
					<td class="fp-downloads-hash-label">MD5:</td>
					<td class="fp-downloads-hash">cf36e3d84fb0def13955029f0eeaf328</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-1:</td>
					<td class="fp-downloads-hash">3000fb2ff39eacf61d5692f337068f1b2dd5f02d</td>
				</tr>
				<tr>
					<td class="fp-downloads-hash-label">SHA-256:</td>
					<td class="fp-downloads-hash">f393a98c5c35e229a744c102b0cb53270b1b4f1b3ebd40d604f98323444a4b1f</td>
				</tr>
			</table>
		</div>
	</div>
</div>