/* News index */

.fp-news-index-categories-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.fp-news-index-categories {
	padding: 0.25rem 0;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;

	background-color: var(--fp-background-color-2);
	border: 0.15rem solid var(--fp-background-color-4);
}
.fp-news-index-category {
	padding: 0 0.75rem;
	position: relative;
}
.fp-news-index-category:not(:last-child)::after {
	position: absolute;
	right: -0.2rem;

	content: '\B7';
}

.fp-news-index-entries {
	padding: 0 1rem;

	background-color: var(--fp-background-color-2);
	border: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-index-entries-header {
	padding: 0.75rem 0 0.5rem;

	font-size: 1.1rem;
	font-weight: bold;
	border-bottom: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-index-entry {
	padding: 0.5rem 0;

	font-size: 0.8rem;
}
.fp-news-index-entry:not(:last-child) {
	border-bottom: 0.15rem solid var(--fp-background-color-4);
}
.fp-news-index-entry-date {
	margin-left: 1rem;
	float: right;

	opacity: 0.7;
}
.fp-news-index-entry-title {
	font-size: 0.9rem;
}

/* News entry */

.fp-news-byline {
	margin: -0.65rem 0 1.1rem;

	font-size: 0.9rem;
}
.fp-news-footer {
	margin-top: 1rem;
}

.fp-news-container {
	word-break: break-word;
}
.fp-news-container h1 {
	font-size: 1.5rem;
}
.fp-news-container h2 {
	font-size: 1.25rem;
}
.fp-news-container h3 {
	font-size: 1rem;
}
.fp-news-container h4 {
	font-size: 0.9rem;
}
.fp-news-container h5 {
	font-size: 0.8rem;
}
.fp-news-container h6 {
	font-size: 0.7rem;
}
.fp-news-container p {
	margin: 1rem 0;
}
.fp-news-container code {
	padding: 0.1rem 0.25rem;
	vertical-align: middle;

	font-size: 0.75rem;
	border-radius: 0.25rem;
}
.fp-news-container blockquote {
	margin: 1rem 0;
	padding-left: 1rem;

	border-left: 0.15rem solid var(--fp-background-color-4);
	opacity: 0.8;
}
.fp-news-container blockquote > :first-child {
	margin-top: 0;
}
.fp-news-container blockquote > :last-child {
	margin-bottom: 0;
}

.fp-news-codeblock {
	display: block;
	padding: 0.5rem 0.75rem;

	font-family: monospace;
	font-size: 0.75rem;
	border-radius: 0.5rem;
	white-space: pre-line;
}

.fp-news-video {
	width: 100%;
	max-width: 50rem;
	display: block;
}

.fp-news-youtube {
	max-width: 50rem;
	position: relative;
	display: block;

	line-height: 0;
}
.fp-news-youtube iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}
.fp-news-youtube img {
	width: 100%;
	height: auto;
}

.twitter-tweet {
	margin: 1.75rem auto 1.5rem !important;
}

/* Article */

.fp-news-article-container {
	padding-bottom: 0.5rem;

	border-bottom: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-article-container h1,
.fp-news-article-container h2,
.fp-news-article-container h3,
.fp-news-article-container h4,
.fp-news-article-container h5,
.fp-news-article-container h6 {
	margin: 1.75rem 0 1rem;
}
.fp-news-article-container hr {
	all: unset;
	width: 25%;
	margin: 2rem auto;
	display: block;

	background-color: var(--fp-background-color-4);
	border-bottom: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-article-container ol,
.fp-news-article-container ul {
	margin: 0.5rem 0;
}

.fp-news-article-container code,
.fp-news-article-container .fp-news-codeblock {
	background-color: var(--fp-background-color-2);
}
.fp-news-article-container blockquote {
	font-style: italic;
}

.fp-news-article-imageset {
	max-width: 70rem;
	margin: 1.75rem auto 1.5rem;
	display: flex;
	justify-content: center;

	line-height: 0;
}
.fp-news-article-imageset a {
	display: inline-block;
}
.fp-news-article-imageset a + a {
	margin-left: 0.5rem;
}
.fp-news-article-imageset img {
	width: 100%;
	max-width: 40rem;
	max-height: 40rem;
}

.fp-news-article-container .fp-news-video,
.fp-news-article-container .fp-news-youtube {
	max-width: 40rem;
	margin: 1.75rem auto 1.5rem;
}

.fp-news-article-caption {
	margin: -1rem 0 1.5rem;

	font-size: 0.8rem;
	text-align: center;
	opacity: 0.8;
}

/* Video */

.fp-news-video-container {
	padding-bottom: 1.5rem;

	border-bottom: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-video-container .fp-news-video,
.fp-news-video-container .fp-news-youtube {
	margin: 0 auto;
}

/* Changelog */

.fp-news-changelog-container {
	padding: 0.75rem 1rem;

	font-family: monospace;
	font-size: 0.75rem;
	background-color: var(--fp-background-color-2);
	border: 0.15rem solid var(--fp-background-color-4);
	border-radius: 0.5rem;
}

/* Discord */

.fp-news-discord-byline {
	margin: 0 0.25rem 0.25rem;
}
.fp-news-discord-footer {
	margin: 0.25rem;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	font-size: 0.8rem;
	text-align: right;
}
.fp-news-discord-footer:not(:last-child) {
	margin-bottom: 1rem;
}
.fp-news-discord-footer > :not(:last-child)::after {
	margin: 0 0.25rem;

	content: '\B7';
}
.fp-news-discord-edited {
	opacity: 0.7;
}

.fp-news-discord-container {
	padding: 0.75rem 1rem;

	background-color: var(--fp-background-color-2);
	border: 0.15rem solid var(--fp-background-color-4);
	border-radius: 0.5rem;
}
.fp-news-discord-container > :first-child {
	margin-top: 0 !important;
}
.fp-news-discord-container > :last-child {
	margin-bottom: 0 !important;
}

.fp-news-discord-container hr {
	all: unset;
	margin: 1rem 0;
	display: block;

	background-color: var(--fp-background-color-4);
	border-bottom: 0.15rem solid var(--fp-background-color-4);
}

.fp-news-discord-container ol,
.fp-news-discord-container ul {
	margin: 1rem 0;
	padding-left: 1.5rem;
}

.fp-news-discord-container code,
.fp-news-discord-container .fp-news-codeblock {
	background-color: var(--fp-background-color-3);
}

.fp-news-discord-emoji {
	width: 1.2em;
	height: 1.2em;
	vertical-align: bottom;

	object-fit: contain;
}

.fp-news-discord-attachment {
	width: 100%;
	max-width: 30rem;
	margin-bottom: 0.75rem;
	display: block;

	border: 0.15rem solid var(--fp-background-color-4);
	border-radius: 0.5rem;
}
.fp-news-discord-attachment-image {
	width: 100%;
	max-height: 20rem;
	display: block;

	background-color: var(--fp-background-color-3);
	border-bottom: 0.15rem solid var(--fp-background-color-4);
	object-fit: contain;
}
.fp-news-discord-attachment-info {
	padding: 0.5rem 0.75rem;
	display: flex;
	justify-content: space-between;

	font-size: 0.9rem;
}
.fp-news-discord-attachment-lost {
	opacity: 0.7;
}
.fp-news-discord-attachment-spacer {
	flex-grow: 1;
}
.fp-news-discord-attachment-size {
	margin-left: 1rem;
	flex-shrink: 0;
}